<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="slu.com.pandora">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Pandora_main"
        android:hardwareAccelerated="true">


        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.KitchenActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.Login"
            android:screenOrientation="landscape"/>


    </application>

</manifest>